<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agora Voice call</title>
</head>
<body>
        <a href=/auth/login>Login</a>
       <h1>My feed</h1>
       <div id='me'></div>

       <h4>Remote feeds</h4>
       <div id='remote-container'>

       </div>

       <h4>Canvas Feeds</h4>
       <div  id='canvas-container'>
           
       </div>
        <script src='/AgoraRTCSDK-2.9.0.js'></script>
        <script src='/script.js'></script>
</body>
</html>